@model ShirtModel

<h3>Shirt</h3>
<br />

<form method="post" asp-action="UpdateShirt">
	<input asp-for="ShirtId" type="hidden" />
	<div class="text-danger" asp-validation-summary="All"></div>
	<div class="mb-3 row">
		<div class="col-2">
			<label class="col-form-label" asp-for="Brand"></label>
		</div>
		<div class="col-6">
			<input class="form-control" asp-for="Brand" type="text" />
		</div>
		<div class="col">
			<span class="text-danger" asp-validation-for="Brand"></span>
		</div>
	</div>
	<div class="mb-3 row">
		<div class="col-2">
			<label class="col-form-label" asp-for="Gender"></label>
		</div>
		<div class="col-6">
			<input class="form-control" asp-for="Gender" type="text" />
		</div>
		<div class="col">
			<span class="text-danger" asp-validation-for="Gender"></span>
		</div>
	</div>
	<div class="mb-3 row">
		<div class="col-2">
			<label class="col-form-label" asp-for="Color"></label>
		</div>
		<div class="col-6">
			<input class="form-control" asp-for="Color" type="text" />
		</div>
		<div class="col">
			<span class="text-danger" asp-validation-for="Color"></span>
		</div>
	</div>
	<div class="mb-3 row">
		<div class="col-2">
			<label class="col-form-label" asp-for="Size"></label>
		</div>
		<div class="col-6">
			<input class="form-control" asp-for="Size" type="number" min="1" />
		</div>
		<div class="col">
			<span class="text-danger" asp-validation-for="Size"></span>
		</div>
	</div>
	<div class="mb-3 row">
		<div class="col-2">
			<label class="col-form-label" asp-for="Price"></label>
		</div>
		<div class="col-6">
			<input class="form-control" asp-for="Price" type="number" />
		</div>
		<div class="col">
			<span class="text-danger" asp-validation-for="Price"></span>
		</div>
	</div>
	<div class="mb-3 row">
		<div class="col-2">
			<input class="btn btn-primary" type="submit" value="Save" />
		</div>
		<div class="col-6"></div>
	</div>
</form>
